
<div class="card__container">
    
            <h2>Current time in {{selectedTimeZone}}</h2>

            <div class="progress-bar__container">
              <div class="progress-bar__badge" [ngStyle]="{'left': 'calc(' + dotPercentage + ' - 44px)' }">
                    <span class="badge">{{ currentTimeDisplay }}</span>
                    <span class="separation"></span>
                    <span class="dot"></span> 
              </div>
              <mat-progress-bar color="accent" mode="determinate" [value]="dotValue"></mat-progress-bar>
            </div>

</div>






