.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    padding: 20px 3%;
  }

  .content--first-child {
    margin: 50px;
    flex: 1;
  }
  .content--last-child {flex: 2;}

  .container {
    min-height: 100vh;
  }